<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccnu.tour.dao.SceneryRecommendMapper">
  <resultMap id="BaseResultMap" type="com.ccnu.tour.pojo.SceneryRecommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scenery_id" jdbcType="BIGINT" property="sceneryId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scenery_id, city_id, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_scenery_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.ccnu.tour.pojo.SceneryRecommend">
    insert into t_scenery_recommend (id, scenery_id, city_id, 
      is_deleted, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{sceneryId,jdbcType=BIGINT}, #{cityId,jdbcType=INTEGER},
      #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="findByCityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_scenery_recommend
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
</mapper>